@import '~antd/dist/antd.css';

.img-coin {
    height: 30%;
    width: 30%;
    padding: 5px 40px 20px 10px;
}

.btn {
    margin-top: 20px;
    width: 80px;
    height: 50px;
}

.input {
    margin-top: 20px;
}